langchain
sentence-transformers
langchain-pinecone
langchain-gemini
pypdf
python-dotenv
langchain-core
langchain-community
fastapi
uvicorn[standard]
pydantic
mangum
langchain-google-genai
motor
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]