langchain
langchain-core
langchain-community
langchain_classic
sentence-transformers
langchain-huggingface
langchain-text-splitters
langchain-openai

langchain-pinecone
pinecone-client

langchain-google-genai
google-generativeai

pypdf
unstructured[pdf]
unstructured-inference
pdf2image
pytesseract

python-dotenv

fastapi
uvicorn[standard]
gunicorn
python-multipart
mangum

pydantic
pydantic[email]

bcrypt
python-jose[cryptography]

motor

httpx
rich

setuptools
wheel